body {
	background: #1abc9c;
	font-family: Tahoma, Arial, sans-serif; 
	color: #ffffff;
}

.header img {
	width: 40px;
	margin-left: 30%;
	margin-right: 50%;	
}

.archive {
	width: 960px; 
	margin-left: auto;
	margin-right: auto;
}

.archive .header img {
	display: block;
}

.post-title a {
	display: inline-block;
	color: #ffffff;
}

.article-author { 
	width: 50%; 
	float: left;
}

.article-created-date { 
	text-align: right;
}

.article {
	width: 1200px;
	margin: auto;
	margin-top: 30px;
}

.article .header img {
	float: left;
	width: 40px;
	margin: auto;
}

.contents_link {
	text-align: right;
	margin-top: 5px;
}
.contents_link a {
	color: #ffffff;
}

.article .header {
	height: 40px;
}